@model Core.Entities.Category

@{
    ViewData["Title"] = "Delete";
}
<div style="margin:25px; padding:120px;text-align:center;align-content:center;font-family:Cairo">

    <div class="container">

        <hr>

        @*<form class="box" asp-action="Search" asp-controller="Products" method="get" style="margin-top:75px">
                <input class="form-control mr-sm-2" type="search" placeholder="مـا الـذي تـبـحـث عـنـه من الأصـنـاف" name="term" dir="rtl" style="text-align:center">
            </form>*@

        <div class="row">

            <div class="col">

                <div class="card mt-5">

                    <div class="card-header">


                        <div class="col">

                            <h4 style="text-align: center; align-content: center;font-family:Cairo">
                                هل تريد حـذف قــسـم @Model.Cat
                            </h4>
                        </div>


                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-lg list-group-flush list my--6">

                            <li class="list-group-item px-0">
                                <div class="row align-items-center">
                                    <!--<div class="col-auto">-->

                                        @*<img src="@item.ImageUrl" alt="" class="avatar avatar-lg" style="width:100px; height:100px;" loading="lazy">*@
                                        <!--<img src="~/img/cat/@Model.ImageUrl" alt="" style="width:100px; height:100px;" loading="lazy">

                                    </div>
                                    <hr>-->
                                    <div class="col ml--6">

                                        <p class="card-text small text-muted mb-1">
                                            القسم :   @Model.Cat
                                        </p>
                                        <hr>

                                    </div>

                                    <div class="col-auto">
                                        <form asp-action="Delete" asp-route-id="@Model.Cat_No">
                                            <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                حــذف
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <form asp-action="Index">
                                            <button type="submit" class="btn btn-sm btn-warning d-none d-md-inline-block">
                                                الـرجــوع للـقـائـمة الـسـابـقة
                                            </button>
                                        </form>
                                    </div>


                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
